.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.Menu {
  height: 85%;
  width: 95%;
  display: flex;
  margin-top: 4%;
  flex-direction: row;
  /* background-color: rgba(226, 226, 177, 0.3); */
}
.MenuLeft {
  /* background-color: rgba(0, 17, 0, 0.15); */
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.menuLeftCard {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: rgba(222, 184, 135, 0.301); */
}

.MenuLeft .menuLeftCard .listTitle {
  /* background-color: rgba(230, 208, 159, 0.253); */
  height: 12%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menuLeftCard .backgroundTitle {
  background-image: url('../../../public/images/pokeball.png');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
  width: 90%;
  height: 65%;
}

.menuLeftCard .backgroundTitle .title {
  z-index: unset;
  color: rgba(248, 238, 211, 0.6);
  border-radius: 8px;
  border: 2px solid rgba(248, 238, 211, 0.2);
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
}

.MenuLeft .menuLeftCard .listPokemon {
  /* background-color: rgba(204, 204, 204, 0.153); */
  height: 72%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.menuLeftCard .pokemons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 95%;
  width: 95%;
  /* background: rgba(255, 0, 0, 0.123); */
}
/* .pokemonItem {
  cursor: pointer;
  height: 25%;
  width: 20%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.pokemonItem .pokemonName {
  color: rgba(248, 238, 211, 0.9);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: -15px;
  left: -20px;
}
.pokemonImg {
  height: 90%;
  width: 90%;
  background: rgba(33, 35, 34);
  border: 1px solid rgba(248, 238, 211, 0.24);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.pokemonImgOuter {
  justify-content: center;
  align-items: center;
  background: rgba(33, 35, 34);
  border-radius: 50%;
  margin-top: 25px;
  height: 70%;
  width: 65%;
  transition: 0.2s;
}

.pokemonImgOuter:hover {
  cursor: pointer;
  height:80%;
  width: 75%;
  transition: 0.2s;
}

.pokemonImg img {
  height: 100%;
  width: 100%;
} */

.MenuLeft .menuLeftCard .listFooter {
  /* background-color: rgba(230, 200, 28, 0.253); */
  height: 16%;
  width: 100%;
  align-items: center;
}

.MenuRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: rgba(255, 0, 149, 0.185); */
  width: 50%;
  height: 100%;
}

.MenuRight .pokemonAvatarDiv {
  display: flex;
  flex-direction: row;
  /* background-color: rgba(0, 255, 200, 0.185); */
  width: 100%;
  height: 45%;
  justify-content: center;
  align-items: flex-end;

}

.MenuRight .pokemonAvatarImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  border: 3px solid rgba(248, 238, 211, 0.2);
  box-shadow: 0 4px 25px rgba(54, 54, 54, 0.5);
  border-radius: 6px;
  width: 40%;
  height: 80%;
  margin-bottom: 15px;
}

.MenuRight .pokemonAvatarImg img {
  position: relative;
  left: -30%;
  top: -6%;
  height: 110%;
}
.MenuRight .textDiv {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  min-width: 200px;
  top: 50%;
  left: 45%;
  z-index: 1;
  border-radius: 12px;
  background: rgb(226, 219, 199);
  box-shadow: 10px 10px 12px rgba(54, 54, 54, 0.8);
}
.MenuRight .textDiv .pokemonName {
  color: rgba(26, 26, 26, 0.9);
  
}

.MenuRight .pokemonInfoDiv {
  /* background: rgba(4, 70, 250, 0.377); */
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.MenuRight .pokemonInfoDiv .pokemonInfoChart {
  height: 80%;
  width:45%;
  display: flex;
  justify-content: center;
  /* background: pink; */
}

.MenuRight .pokemonInfoDiv .pokemonInfoMisc {
  height: 80%;
  width:45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  /* background: rgba(255, 0, 0, 0.308); */
}
.MenuRight .pokemonInfoDiv .pokemonInfoTypes {
  height: 18%;
  width:100%;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  /* background: red; */
  margin: 0;
  align-items: center;
}
.MenuRight .pokemonInfoDiv .pokemonInfoDesc {
  background: rgba(0,0,0,0.3);
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  height: 40%;
  width: 100%;
  display: flex;
  padding: 3px;
}

.MenuRight .pokemonInfoDiv .pokemonInfoTypeEach{
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.pokemonInfoGap {
  height: 30%;
  width: 100%;
  display: flex;
}